*.zip

build

node_modules
dist
ts-dist
tmp

# IDE - WebStorm
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/shelf

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

# Logs
logs
*.log
npm-debug.log*

# Dot-Env
.env

# System
.DS_Store
Thumbs.db